<% @question.answers.each do |answer| %>

    <% if answer.persisted? %>
        <p>    <%= answer.body %></p>
        <p>Attachments:</p>
        <ul>
          <% answer.attachments.each do |attachment| %>
              <li><%= link_to attachment.file.file.filename, attachment.file.url %></li>
          <% end %>
        </ul>
        <% if user_signed_in? && answer.user == current_user %>
            <p><%= link_to 'Edit answer', '', class: 'edit-answer-link', data: {answer_id: answer.id} %></p>
            <p><%= link_to 'Destroy answer',question_answer_path(@question,answer), method: :delete, remote: true %></p>
            <div class='edit_answer'>
              <p> <%= form_with(model: [@question, answer], id: "edit-answer-#{answer.id}") do |a| %>
                    <%= a.label :body, 'Edit answer' %>
                    <%= a.text_area :body, id: :edit_answer_body %>
                    <%= a.submit 'Done' %>
                <% end %>
              </p>
            </div>
        <% end %>
        <hr>
    <% end %>

<% end %>

