<% @question.answers.each do |answer| %>

    <% if answer.persisted? %>
        <p>    <%= answer.body %></p>
        <% if user_signed_in? %>
            <p><%= link_to 'Edit answer', '', class: 'edit-answer-link', data: {answer_id: answer.id} %></p>
            <div class='edit_answer'>
              <p> <%= form_with(model: [@question, answer], id: "edit-answer-#{answer.id}") do |a| %>
                    <%= a.label :body, 'Edit answer' %>
                    <%= a.text_area :body, id: :edit_answer_body %>
                    <%= a.submit 'Done' %>
                <% end %>
              </p>
            </div>
        <% end %>
    <% end %>

<% end %>

