<h3> <%= @question.title %></h3>
<p><%= @question.body %> </p>
<% if user_signed_in? && (current_user == @question.user) %>
    <%= link_to 'Edit', edit_question_path(@question), class: 'edit-question-link' %>
    <%= link_to 'Delete', question_path(@question), method: :delete, data: {confirm: 'Are you sure?'} %>
    <div class='edit_question'>
      <p>
        <%= form_with(model: @question) do |q| %>
            <%= q.label :title %>
            <%= q.text_field :title %>
            <%= q.label :body %>
            <%= q.text_area :body %>
            <%= q.submit 'Done' %>
        <% end %>
      </p>
    </div>
<% end %>