<div class="question" data-question-id=<%= @question.id %>>
  <%= render 'questions' %>
  <div class="error-question"></div>
</div>
  <hr>

  <div class='answers'>
    <%= render 'answers' %>
  </div>
  <div class='error-answer'></div>
<div class='answer'>
  <% if user_signed_in? %>
      <%= form_with(model: [@question, @answer], class: 'new_answer', remote: true) do |a| %>
          <%= a.label :body, 'You answer' %>
          <%= a.text_area :body, id: :answer_body %>
          <%= a.fields_for :attachments do |attach| %>
              <%= attach.label :file %>
              <%= attach.file_field :file %>
          <% end %>
          <%= a.submit 'Send answer' %>
      <% end %>
      </div>
  <% end %>
