<h3> <%= @question.title %></h3>
  <p><%= @question.body %> </p>
  <%= link_to "Edit", edit_question_path(@question) %>
  <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: 'Are you sure?'} %>
  <hr>

  <div class='answers'>
    <%= render 'answers' %>
  </div>
  <div class='error-answer'></div>
  <% if user_signed_in? %>
      <%= form_with(model: [@question, Answer.new], remote: true) do |a| %>
          <%= a.label :body, 'You answer' %>
          <%= a.text_area :body, id: :answer_body %>
          <%= a.submit "Send answer" %>
      <% end %>
  <% end %>
